/.bundle/
/doc/
/log/*.log
/pkg/
/tmp/
.byebug_history

node_modules/
server.pid
examples.txt
.rubocop-https*

/spec/dummy/log/test.log
/.DS_Store
/coverage/
/spec/dummy/log/test.log
/vendor/
/spec/dummy/tmp/
/spec/dummy/vendor/
